.login-page {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-image: url("https://plus.unsplash.com/premium_photo-1664048712492-9d395c204e37?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHNhbG9ufGVufDB8fDB8fHww"); */
  background-image: url("https://images.unsplash.com/photo-1605497788044-5a32c7078486?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjB8fHNhbG9ufGVufDB8fDB8fHww");
  background-color: wheat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-card {
  background: white;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
  width: 320px;
}

.login-card h2 {
  margin-bottom: 8px;
}

.login-card p {
  color: #666;
  margin-bottom: 20px;
}

.google-btn {
  background: #c2185b;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

.google-btn:hover {
  background: #ad1457;
}
