/* Page */
.booking-page {
  /* max-width: 900px; */
  /* margin: 30px auto; */
  padding: 20px;

  /* background-image: url("https://images.unsplash.com/photo-1549236177-f9b0031756eb?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTR8fHNhbG9ufGVufDB8fDB8fHww"); */
  /* background-image: url("https://images.unsplash.com/photo-1595475884562-073c30d45670?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHNhbG9ufGVufDB8fDB8fHww"); */
  /* background-image: url("https://plus.unsplash.com/premium_photo-1664048712492-9d395c204e37?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHNhbG9ufGVufDB8fDB8fHww"); */
  /* background-image: url("https://images.unsplash.com/photo-1567016376408-0226e4d0c1ea?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODd8fHNhbG9ufGVufDB8fDB8fHww"); */
  /* background-image: url("https://plus.unsplash.com/premium_photo-1671269943771-63db2ab54bf2?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTd8fHNhbG9ufGVufDB8fDB8fHww"); */
  /* background-image: url("https://images.unsplash.com/photo-1599387737838-660b75526801?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTg2fHxzYWxvbnxlbnwwfHwwfHx8MA%3D%3D"); */
  background-image: url("https://images.unsplash.com/photo-1704311167385-e42095130238?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjM1fHxzYWxvbnxlbnwwfHwwfHx8MA%3D%3D");
  background-color: wheat;
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.booking-page h2 {
  margin-bottom: 24px;
  color: var(--primary);
}

.booking-page section {
  margin-bottom: 32px;
}

.booking-page h3 {
  margin-bottom: 14px;
  font-size: 18px;
  /* background-color: white; */
}

/* Loading */
.page-loading {
  text-align: center;
  margin-top: 60px;
  color: #777;
}

/* Services */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 2%;
  scroll-margin-top: 90px;
}

.service-card {
  background: #ffffff;
  padding: 16px;
  border-radius: 14px;
  cursor: pointer;
  border: 2px solid transparent;
  box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease;
}

.service-card h4 {
  margin-bottom: 6px;
}

.service-card p {
  font-size: 13px;
  color: #666;
  margin-bottom: 8px;
}

.service-card strong {
  color: #c2185b;
}

.service-card:hover {
  transform: translateY(-3px);
}

.service-card.active {
  border-color: #c2185b;
  background: #fff6f9;
}

.service-image {
  width: 90px;
  height: 90px;
  border-radius: 12px;
  object-fit: cover;
}

/* Placeholder text */
.placeholder {
  color: #999;
  font-size: 14px;
}

/* Buttons */
.primary-btn {
  background: #c2185b;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.primary-btn:hover {
  background: #ad1457;
}


/* Stylist Card */
.stylists-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 16px;
}

.stylist-card {
  background: white;
  border-radius: 14px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  border: 2px solid transparent;
  box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease;
}

.stylist-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}

.stylist-card p {
  font-size: 14px;
  font-weight: 500;
}

.stylist-card:hover {
  transform: translateY(-3px);
}

.stylist-card.active {
  border-color: #c2185b;
  background: #fff6f9;
}

/* css for date input */
.date-input {
  padding: 10px 14px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  max-width: 220px;
}

.date-input:focus {
  border-color: #c2185b;
}


/* CSS for TIme Slot */
.time-slots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 12px;
}

.time-slot {
  padding: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  font-size: 14px;
}

.time-slot:hover {
  border-color: #c2185b;
}

.time-slot.active {
  background: #c2185b;
  color: white;
  border-color: #c2185b;
}

/* css for diabled slots */
.time-slot.disabled {
  background: #eee;
  color: #999;
  border-color: #ddd;
  cursor: not-allowed;
}