.header {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 100;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  /* width: 100%; */
}

.header-left {
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.location {
  font-size: 12px;
  color: #777;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.book-btn {
  background: #c2185b;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}

.book-btn:hover {
  background: #a9154d;
}

.profile-wrapper {
  position: relative;
}
.profile-wrapper:hover {
  position: relative;
  /* transform: scale(1.1); */
}
.profile-img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #c2185b;
  object-fit: cover;
  display: block; /* IMPORTANT */
}
.profile-img:hover{
transform: scale(1.2);
}
.profile-dropdown {
  position: absolute;
  right: 0;
  top: 48px;
  background: white;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  padding: 12px;
}

.profile-email {
  font-size: 13px;
  color: #555;
  margin-bottom: 10px;
  word-break: break-all;
}

.dropdown-link {
  display: block;
  padding: 8px 0;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.dropdown-link:hover {
  color: #c2185b;
}

.logout-btn {
  width: 100%;
  margin-top: 10px;
  background: none;
  border: 1px solid #c2185b;
  color: #c2185b;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #c2185b;
  color: white;
}
